{
  "openapi": "3.0.3",
  "info": {
    "title": "Apono",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.apono.io",
      "description": "Apono Public Api"
    }
  ],
  "security": [
    {
      "Authorization": []
    }
  ],
  "tags": [
    {
      "name": "Access Bundles"
    },
    {
      "name": "Access Flows"
    },
    {
      "name": "Access Requests"
    },
    {
      "name": "Activity"
    },
    {
      "name": "Connectors"
    },
    {
      "name": "Identities"
    },
    {
      "name": "Integrations"
    },
    {
      "name": "Users"
    }
  ],
  "paths": {
    "/api/v1/access-bundles": {
      "get": {
        "tags": [
          "Access Bundles"
        ],
        "summary": "List Access Bundles",
        "operationId": "listAccessBundles",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseAccessBundleV1Model"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Access Bundles"
        ],
        "summary": "Create Access Bundle",
        "operationId": "createAccessBundle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertAccessBundleV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessBundleV1"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/access-bundles/{id}": {
      "get": {
        "tags": [
          "Access Bundles"
        ],
        "summary": "Get Access Bundle",
        "operationId": "getAccessBundle",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessBundleV1"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Access Bundles"
        ],
        "summary": "Delete Access Bundle",
        "operationId": "deleteAccessBundle",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Access Bundles"
        ],
        "summary": "Update Access Bundle",
        "operationId": "updateAccessBundle",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccessBundleV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessBundleV1"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/access-flows": {
      "get": {
        "tags": [
          "Access Flows"
        ],
        "summary": "List Access Flows",
        "operationId": "listAccessFlowsV1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseAccessFlowV1Model"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Access Flows"
        ],
        "summary": "Create Access Flow",
        "operationId": "createAccessFlowV1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertAccessFlowV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessFlowV1"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/access-flows/{id}": {
      "get": {
        "tags": [
          "Access Flows"
        ],
        "summary": "Get Access Flow",
        "operationId": "getAccessFlowV1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessFlowV1"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Access Flows"
        ],
        "summary": "Delete Access Flow",
        "operationId": "deleteAccessFlowV1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Access Flows"
        ],
        "summary": "Update Access Flow",
        "operationId": "updateAccessFlowV1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccessFlowV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessFlowV1"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/connectors": {
      "get": {
        "tags": [
          "Connectors"
        ],
        "summary": "list connectors",
        "operationId": "listConnectors",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Connector"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/identities": {
      "get": {
        "tags": [
          "Identities"
        ],
        "summary": "list identities, grantees and approvers",
        "operationId": "listIdentities",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseIdentityModelV2"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/integrations": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "list integrations",
        "operationId": "listIntegrationsV2",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseIntegrationModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "create integration",
        "operationId": "createIntegrationV2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIntegration"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/integrations-catalog": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "list integration configs",
        "operationId": "listIntegrationConfigs",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseIntegrationConfigPublicModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/integrations-catalog/{type}": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "get integration config",
        "operationId": "getIntegrationConfig",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationConfig"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/integrations/{id}": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "get integration",
        "operationId": "getIntegrationV2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Integrations"
        ],
        "summary": "update integration",
        "operationId": "updateIntegrationV2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIntegration"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integration"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Integrations"
        ],
        "summary": "delete integration",
        "operationId": "deleteIntegrationV2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/integrations/{id}/refresh": {
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "refresh integration",
        "operationId": "refreshIntegrationV2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "list users",
        "operationId": "listUsers",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseUserModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/users/{id}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "get user by Id or Email",
        "operationId": "getUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/access-requests": {
      "get": {
        "tags": [
          "Access Requests"
        ],
        "summary": "list access requests",
        "operationId": "listAccessRequests",
        "parameters": [
          {
            "name": "days_offset",
            "in": "query",
            "schema": {
              "format": "int64",
              "type": "integer",
              "nullable": true
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseAccessRequestV3"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Access Requests"
        ],
        "summary": "create access request",
        "operationId": "createAccessRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccessRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessRequest"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/access-requests-bulk/revoke": {
      "post": {
        "tags": [
          "Access Requests"
        ],
        "summary": "Revoke multiple access requests",
        "operationId": "revokeAccessRequests",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessRequestsBulkRevokeRequestV3"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/access-requests/{id}": {
      "get": {
        "tags": [
          "Access Requests"
        ],
        "summary": "get access request",
        "operationId": "getAccessRequest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessRequest"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/access-requests/{id}/access-details": {
      "get": {
        "tags": [
          "Access Requests"
        ],
        "summary": "get access request access details",
        "operationId": "getAccessRequestDetails",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectDetailsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/access-requests/{id}/reset": {
      "post": {
        "tags": [
          "Access Requests"
        ],
        "summary": "reset access request credentials",
        "operationId": "resetAccessRequestCredentials",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/activity": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "List Activity",
        "operationId": "listActivity",
        "parameters": [
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "format": "int64",
              "type": "integer",
              "nullable": true
            }
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ReportField"
              },
              "nullable": true
            }
          },
          {
            "name": "filter[integration_id]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "filter[permission]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "filter[requestor_id]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "filter[resource]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "filter[resource_type]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "filter[status]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "filter[trigger_type]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "format": "int64",
              "type": "integer",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseActivityReportJsonExportModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/integrations/resources/{resource_id}/user-tags": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "get user tags of a resource",
        "operationId": "getResourceUserTags",
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceUserTagsResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Integrations"
        ],
        "summary": "update user tags of a resource",
        "operationId": "updateResourceUserTags",
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateResourceUserTagsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/integrations/{id}/permissions": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "get integration permissions for the entire tenant",
        "operationId": "getIntegrationPermissions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resource-type",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponsePermissionV3Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/integrations/{id}/resources": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "get integration resources for the entire tenant",
        "operationId": "getIntegrationResources",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resource-type",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseResourceV3Response"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/selectable-integrations": {
      "get": {
        "tags": [
          "Access Requests"
        ],
        "summary": "get selectable integrations",
        "operationId": "getSelectableIntegrations",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseSelectableIntegrationV3"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/selectable-integrations/{integration_id}/resource-types": {
      "get": {
        "tags": [
          "Access Requests"
        ],
        "summary": "get selectable resource types",
        "operationId": "getSelectableResourceTypes",
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseSelectableResourceTypeV3"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/selectable-integrations/{integration_id}/{resource_type}/permissions": {
      "get": {
        "tags": [
          "Access Requests"
        ],
        "summary": "get selectable permissions",
        "operationId": "getSelectablePermissions",
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "resource_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectablePermissionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/selectable-integrations/{integration_id}/{resource_type}/resources": {
      "get": {
        "tags": [
          "Access Requests"
        ],
        "summary": "get selectable resources",
        "operationId": "getSelectableResources",
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "resource_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedResponseSelectableResourceV3"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AccessBundleV1": {
        "required": [
          "id",
          "name",
          "integration_targets"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "integration_targets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessTargetIntegrationV1"
            }
          }
        }
      },
      "AccessFlowSettingsV1": {
        "type": "object",
        "properties": {
          "require_justification_on_request_again": {
            "type": "boolean",
            "nullable": true
          },
          "require_all_approvers": {
            "type": "boolean",
            "nullable": true
          },
          "require_approver_justification": {
            "type": "boolean",
            "nullable": true
          },
          "approver_cannot_approve_himself": {
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "AccessFlowTriggerV1": {
        "required": [
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "timeframe": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/TimeframeV1"
              }
            ],
            "nullable": true
          }
        }
      },
      "AccessFlowV1": {
        "required": [
          "id",
          "name",
          "active",
          "trigger",
          "grantees",
          "integration_targets",
          "bundle_targets",
          "revoke_after_in_sec",
          "created_date"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "trigger": {
            "$ref": "#/components/schemas/AccessFlowTriggerV1"
          },
          "grantees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GranteeV1"
            }
          },
          "integration_targets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessTargetIntegrationV1"
            }
          },
          "bundle_targets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessTargetBundleV1"
            }
          },
          "approvers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApproverV1"
            },
            "nullable": true
          },
          "revoke_after_in_sec": {
            "format": "int32",
            "type": "integer"
          },
          "settings": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccessFlowSettingsV1"
              }
            ],
            "nullable": true
          },
          "created_date": {
            "$ref": "#/components/schemas/Instant"
          }
        }
      },
      "AccessRequest": {
        "required": [
          "request_id",
          "friendly_request_id",
          "user_id",
          "status",
          "integration_id",
          "resource_ids",
          "permissions",
          "justification"
        ],
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string"
          },
          "friendly_request_id": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/AccessStatusModel"
          },
          "integration_id": {
            "type": "string"
          },
          "resource_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "justification": {
            "type": "string"
          }
        }
      },
      "AccessRequestsBulkRevokeRequestV3": {
        "required": [
          "request_ids"
        ],
        "type": "object",
        "properties": {
          "request_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AccessStatusModel": {
        "enum": [
          "PENDING",
          "APPROVED",
          "REJECTED",
          "GRANTED",
          "REVOKING",
          "EXPIRED",
          "FAILED"
        ],
        "type": "string"
      },
      "AccessTargetBundleV1": {
        "required": [
          "bundle_id"
        ],
        "type": "object",
        "properties": {
          "bundle_id": {
            "type": "string"
          }
        }
      },
      "AccessTargetIntegrationV1": {
        "required": [
          "integration_id",
          "resource_type",
          "resource_tag_includes",
          "resource_tag_excludes",
          "permissions"
        ],
        "type": "object",
        "properties": {
          "integration_id": {
            "type": "string"
          },
          "resource_type": {
            "type": "string"
          },
          "resource_tag_includes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagV1"
            }
          },
          "resource_tag_excludes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagV1"
            }
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ActivityReportJsonExportModel": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string",
            "nullable": true
          },
          "request_date": {
            "type": "string",
            "nullable": true
          },
          "requestor_name": {
            "type": "string",
            "nullable": true
          },
          "requestor_email": {
            "type": "string",
            "nullable": true
          },
          "integration": {
            "type": "string",
            "nullable": true
          },
          "resource_type": {
            "type": "string",
            "nullable": true
          },
          "resources": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "justification": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "trigger_type": {
            "type": "string",
            "nullable": true
          },
          "access_flow": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ApproverV1": {
        "required": [
          "id",
          "type"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "ConnectDetailsResponse": {
        "required": [
          "details"
        ],
        "type": "object",
        "properties": {
          "details": {
            "type": "string"
          }
        }
      },
      "ConnectionMetadata": {
        "type": "object"
      },
      "Connector": {
        "required": [
          "connector_id",
          "status"
        ],
        "type": "object",
        "properties": {
          "connector_id": {
            "type": "string"
          },
          "last_connected": {
            "type": "number",
            "allOf": [
              {
                "$ref": "#/components/schemas/Instant"
              }
            ],
            "nullable": true
          },
          "status": {
            "type": "string"
          }
        }
      },
      "CreateAccessRequest": {
        "required": [
          "user_id",
          "integration_id",
          "resource_ids",
          "permissions",
          "justification"
        ],
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          },
          "integration_id": {
            "type": "string"
          },
          "resource_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "justification": {
            "type": "string"
          },
          "duration_in_sec": {
            "format": "int64",
            "type": "integer",
            "nullable": true
          }
        }
      },
      "CreateIntegration": {
        "required": [
          "name",
          "type",
          "metadata"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "provisioner_id": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "type": "object"
          },
          "secret_config": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/SecretConfig"
              }
            ],
            "nullable": true
          },
          "connected_resource_types": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "custom_access_details": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "DayOfWeek": {
        "enum": [
          "MONDAY",
          "TUESDAY",
          "WEDNESDAY",
          "THURSDAY",
          "FRIDAY",
          "SATURDAY",
          "SUNDAY"
        ],
        "type": "string"
      },
      "GranteeV1": {
        "required": [
          "id",
          "type"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "IdentityModel2": {
        "required": [
          "type",
          "name",
          "id"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        }
      },
      "Instant": {
        "format": "double",
        "type": "number",
        "example": "{seconds}.{nanos}"
      },
      "Integration": {
        "required": [
          "id",
          "name",
          "type",
          "status",
          "metadata",
          "connected_resource_types"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/IntegrationStatus"
          },
          "details": {
            "type": "string",
            "nullable": true
          },
          "provisioner_id": {
            "type": "string",
            "nullable": true
          },
          "connection": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/ConnectionMetadata"
              }
            ],
            "nullable": true
          },
          "last_sync_time": {
            "type": "number",
            "allOf": [
              {
                "$ref": "#/components/schemas/Instant"
              }
            ],
            "nullable": true
          },
          "metadata": {
            "type": "object"
          },
          "secret_config": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/SecretConfig"
              }
            ],
            "nullable": true
          },
          "connected_resource_types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "custom_access_details": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IntegrationConfig": {
        "required": [
          "name",
          "type",
          "description",
          "params",
          "requires_secret",
          "supported_secret_types"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "params": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IntegrationConfigParam"
            }
          },
          "requires_secret": {
            "type": "boolean"
          },
          "supported_secret_types": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IntegrationConfigParam": {
        "required": [
          "id",
          "label",
          "values",
          "default",
          "optional"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "default": {
            "type": "string"
          },
          "optional": {
            "type": "boolean"
          }
        }
      },
      "IntegrationStatus": {
        "enum": [
          "Initializing",
          "Refreshing",
          "Active",
          "Error",
          "Warning",
          "Disabled"
        ],
        "type": "string"
      },
      "MessageResponse": {
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        }
      },
      "PaginatedResponseAccessBundleV1Model": {
        "required": [
          "data",
          "pagination"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessBundleV1"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          }
        }
      },
      "PaginatedResponseAccessFlowV1Model": {
        "required": [
          "data",
          "pagination"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessFlowV1"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          }
        }
      },
      "PaginatedResponseAccessRequestV3": {
        "required": [
          "data",
          "pagination"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessRequest"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          }
        }
      },
      "PaginatedResponseActivityReportJsonExportModel": {
        "required": [
          "data",
          "pagination"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActivityReportJsonExportModel"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          }
        }
      },
      "PaginatedResponseIdentityModelV2": {
        "required": [
          "data",
          "pagination"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IdentityModel2"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          }
        }
      },
      "PaginatedResponseIntegrationConfigPublicModel": {
        "required": [
          "data",
          "pagination"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IntegrationConfig"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          }
        }
      },
      "PaginatedResponseIntegrationModel": {
        "required": [
          "data",
          "pagination"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Integration"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          }
        }
      },
      "PaginatedResponsePermissionV3Response": {
        "required": [
          "data",
          "pagination"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PermissionV3"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          }
        }
      },
      "PaginatedResponseResourceV3Response": {
        "required": [
          "data",
          "pagination"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResourceResponse"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          }
        }
      },
      "PaginatedResponseSelectableIntegrationV3": {
        "required": [
          "data",
          "pagination"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SelectableIntegration"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          }
        }
      },
      "PaginatedResponseSelectableResourceTypeV3": {
        "required": [
          "data",
          "pagination"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SelectableResourceType"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          }
        }
      },
      "PaginatedResponseSelectableResourceV3": {
        "required": [
          "data",
          "pagination"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SelectableResource"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          }
        }
      },
      "PaginatedResponseUserModel": {
        "required": [
          "data",
          "pagination"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserModel"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          }
        }
      },
      "PaginationInfo": {
        "required": [
          "total",
          "limit",
          "offset"
        ],
        "type": "object",
        "properties": {
          "total": {
            "format": "int32",
            "type": "integer"
          },
          "limit": {
            "format": "int32",
            "type": "integer"
          },
          "offset": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "PermissionV3": {
        "required": [
          "name",
          "id",
          "resource_type"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "resource_type": {
            "type": "string"
          }
        }
      },
      "ReportField": {
        "enum": [
          "request_id",
          "request_date",
          "request_grant_date",
          "request_revoke_date",
          "requestor_name",
          "requestor_email",
          "integration",
          "resources",
          "resource_type",
          "permissions",
          "approver_names",
          "approver_emails",
          "approver_types",
          "justification",
          "status",
          "resources_status",
          "trigger_type",
          "access_flow",
          "bundle_name"
        ],
        "type": "string"
      },
      "ResourceResponse": {
        "required": [
          "id",
          "name",
          "type",
          "status"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/ResourceStatusResponse"
          }
        }
      },
      "ResourceStatusResponse": {
        "required": [
          "status"
        ],
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/ResourceStatusV1"
          },
          "message": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ResourceStatusV1": {
        "enum": [
          "Active",
          "Error",
          "Deleted"
        ],
        "type": "string"
      },
      "ResourceUserTagsResponse": {
        "required": [
          "resource_id",
          "tags"
        ],
        "type": "object",
        "properties": {
          "resource_id": {
            "type": "string"
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "SecretConfig": {
        "type": "object"
      },
      "SelectableIntegration": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        }
      },
      "SelectablePermissionsResponse": {
        "required": [
          "data",
          "pagination",
          "allow_multiple"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "allow_multiple": {
            "type": "boolean"
          }
        }
      },
      "SelectableResource": {
        "required": [
          "id",
          "type",
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "SelectableResourceType": {
        "required": [
          "id",
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "TagV1": {
        "required": [
          "name",
          "value"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "TimeframeV1": {
        "required": [
          "start_of_day_time_in_seconds",
          "end_of_day_time_in_seconds",
          "days_in_week",
          "time_zone"
        ],
        "type": "object",
        "properties": {
          "start_of_day_time_in_seconds": {
            "format": "int64",
            "type": "integer"
          },
          "end_of_day_time_in_seconds": {
            "format": "int64",
            "type": "integer"
          },
          "days_in_week": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DayOfWeek"
            }
          },
          "time_zone": {
            "type": "string"
          }
        }
      },
      "UpdateAccessBundleV1": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "integration_targets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessTargetIntegrationV1"
            },
            "nullable": true
          }
        }
      },
      "UpdateAccessFlowV1": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "active": {
            "type": "boolean",
            "nullable": true
          },
          "trigger": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccessFlowTriggerV1"
              }
            ],
            "nullable": true
          },
          "grantees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GranteeV1"
            },
            "nullable": true
          },
          "integration_targets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessTargetIntegrationV1"
            },
            "nullable": true
          },
          "bundle_targets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessTargetBundleV1"
            },
            "nullable": true
          },
          "approvers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApproverV1"
            },
            "nullable": true
          },
          "revoke_after_in_sec": {
            "format": "int32",
            "type": "integer",
            "nullable": true
          },
          "settings": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccessFlowSettingsV1"
              }
            ],
            "nullable": true
          }
        }
      },
      "UpdateIntegration": {
        "required": [
          "name",
          "metadata"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "provisioner_id": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "type": "object"
          },
          "secret_config": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/SecretConfig"
              }
            ],
            "nullable": true
          },
          "connected_resource_types": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "custom_access_details": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "UpdateResourceUserTagsRequest": {
        "required": [
          "tags"
        ],
        "type": "object",
        "properties": {
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        }
      },
      "UpsertAccessBundleV1": {
        "required": [
          "name",
          "integration_targets"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "integration_targets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessTargetIntegrationV1"
            }
          }
        }
      },
      "UpsertAccessFlowV1": {
        "required": [
          "name",
          "active",
          "trigger",
          "grantees",
          "revoke_after_in_sec"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          },
          "trigger": {
            "$ref": "#/components/schemas/AccessFlowTriggerV1"
          },
          "grantees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GranteeV1"
            }
          },
          "integration_targets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessTargetIntegrationV1"
            },
            "nullable": true
          },
          "bundle_targets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessTargetBundleV1"
            },
            "nullable": true
          },
          "approvers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApproverV1"
            },
            "nullable": true
          },
          "revoke_after_in_sec": {
            "format": "int32",
            "type": "integer"
          },
          "settings": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/AccessFlowSettingsV1"
              }
            ],
            "nullable": true
          }
        }
      },
      "UserModel": {
        "required": [
          "id",
          "email",
          "first_name",
          "last_name",
          "active"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "active": {
            "type": "boolean"
          }
        }
      }
    },
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}